

/*Font Family*/
$nav-font: "Quattrocento Sans";
$main-font: "Italiana", sans-serif;
$logo-font: "Kiwi Maru", serif;
$ko-font: 'Pretendard';

/*Font Size*/
$h2: 4.45rem;
$h3: 2.5rem;
$logo-h3: 2.2rem;
$h4: 1.95rem;
$card-bold: 1.65rem;
$h5: 1.4rem;
$strong: 1.1rem;
$p: 1rem;
$h6: 0.9rem;
$small: 0.78rem;

/*Font Weight*/
/* Setting Variables : Object Color */
$black: #000;
$dark-black: #141414;
$dark-gray: #464646;
$bg-color:#FFFDF3;
$gradient: linear-gradient(#373737, #373737 0%);
$light-gray: #e1e1e1;
$pale-green: #cad6d8;
$pale-pink:#fec29f;
$pale-pink2:#dd8989;
$jin-pink:#e6a2a2;
$light-peach:#FAE5D3;
$light-green:#B5CCA7;
$dark-green:#8ca180c0;
$dark-green2:#95aa88fb;

/* Setting Variables : Text Color */
$dim-black: #333;
$light-black: #404040;
$dim-darkgray: #5f5f5f;
$gray: #8c8c8c;
$dark-brown: #4C3A2F;
$project-brown:#4C3A2F;
$white: #fff;

/*bubble*/
$bubble: 5px 5px 5px gray;

/*code_color*/
$orenge:#f5a475;
$html:#E44D26;
$css: #3168F0;
$react:#70D9F3;
$js:#F3DB15;
$scss:#CC6699;
